EXPO_PUBLIC_API_BASE_URL=http://10.161.246.202:8080
EXPO_PUBLIC_USE_MOCKS=false
EXPO_PUBLIC_MOCK_AUTH=true
EXPO_PUBLIC_MOCK_ANALYTICS=true
EXPO_PUBLIC_MOCK_NOTIFICATIONS=true
EXPO_PUBLIC_MOCK_WEATHER=true
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
